.card {
  color: #555b6e;
  /* border: 1px solid #555b6e; */
  border-radius: 5px;
  list-style: none;
  margin-left: auto;
  margin-bottom: auto;
  font-size: 1rem;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card:hover {
  transform: scale(1.05);
}

.add_wishlist {
  font-size: 2rem;
  opacity: 0.9;
  position: absolute;
  top: 0.2rem;
  left: 0.5rem;
  z-index: 1;
  color: #f72585;
}

.add_wishlist:hover {
  cursor: cell;
}

.poster {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 3px;
  position: relative;
}

.description {
  /* border: 2px solid rgb(47, 58, 148); */
  overflow: hidden;
  height: auto;
}

.link,
.link:active,
.link:visited {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #432818;
  cursor: pointer;
}
