.add_favourite {
  padding: 0 1rem;
  font-size: 2rem;
  opacity: 0.9;
  display: inline-block;
  top: 0.2rem;
  left: 0.5rem;
  z-index: 1;
  color: #f72585;
}
.backdrop {
  width: 20rem;
  height: auto;
  padding: 1rem;
}

.popularity {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem;
}

.description {
  text-align: justify;
}

@media (min-width: 40rem) {
  .backdrop {
    width: 40rem;
    height: auto;
  }
}
