.grid {
  /* width: 80vw; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.55rem;
  align-items: center;
}

@media (min-width: 40rem) {
  .grid {
    margin: 0 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
