.contianer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 10rem 0;
}
.lds_dual_ring {
  width: 80px;
  height: 80px;
}
.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(165, 69, 69);
  border-color: rgb(88, 52, 52) transparent rgb(124, 78, 78) transparent;
  animation: lds_dual_ring 1.2s linear infinite;
}
@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* @media (min-width: 40rem) {
  .lds_dual_ring {
  }
} */
